.timerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.DropTimer {
  margin-top: 1.5rem;
}

.CircleTimer {
  margin-top: 1.5rem;
}
